/* Media Queries 

0 - 600px Phone
600 - 900px Tablet Portrait
900 - 1200px Tablet Landscape
[1200 - 1800] Default size
1800px + Big desktop

Breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop

1em - 16px

*/
:root {
  /* Color styles */
  --ink-dark: rgba(32, 47, 47, 1);
  --ink-middle-dark: rgba(28, 119, 119, 1);
  --ink-middle: rgba(0, 164, 164, 1);
  --ink-white: rgba(249, 253, 252, 1);
  --primary-default: rgba(0, 229, 216, 1);
  --primary-light: rgba(83, 255, 244, 1);
  --primary-lighter: rgba(166, 255, 250, 1);
  --secondary-darker: rgba(98, 39, 4, 1);
  --secondary-dark: rgba(196, 77, 8, 1);
  --secondary-default: rgba(245, 98, 12, 1);
  --secondary-slightlylight: rgba(247, 128, 59, 1);
  --secondary-light: rgba(249, 160, 108, 1);
  --secondary-lighter: rgba(251, 192, 157, 1);
  --tertiary-darker: rgba(59, 5, 97, 1);
  --tertiary-dark: rgba(117, 10, 194, 1);
  --tertiary-default: rgba(168, 61, 245, 1);
  --tertiary-slightlylight: rgba(190, 109, 248, 1);
  --tertiary-light: rgba(212, 158, 250, 1);
  --tertiary-lighter: rgba(233, 206, 253, 1);
  /* Text-size styles */
  /* base size: rem--reference (10px) */
  --h1: 9rem;
  --h2: 6.4rem;
  --h3: 4.5rem;
  --h4: 3.2rem;
  --h5: 2.3rem;
  --body: 1.6rem;
  --label: 1.1rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--ink-dark);
  box-sizing: border-box;
  min-height: 100vh;
  background: linear-gradient(180deg, #00ffff 0%, #007b91 100%);
}
@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

.textMessage {
  text-align: center;
  margin-top: 1rem;
  padding: 1rem 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

p {
  font-size: var(--body);
}

a {
  color: black;
  text-decoration: none;
  display: block;
}

.u-center-text {
  text-align: center;
}

.u-container {
  max-width: 114rem;
  margin: 0 auto;
  width: 95%;
}
@media only screen and (max-width: 56.25em) {
  .u-container {
    max-width: 70rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .u-container {
    max-width: 45rem;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-top-small {
  margin-top: 1.5rem;
}
.u-margin-top-medium {
  margin-top: 4rem;
}
.u-margin-top-big {
  margin-top: 8rem;
}
.u-margin-top-huge {
  margin-top: 10rem;
}

.u-flex-center-row {
  justify-content: center;
}

.invisible {
  display: none;
}

.activeLabel {
  color: var(--ink-middle);
  font-weight: 700;
}

.form {
  background-color: var(--ink-white);
  padding: 2rem;
  width: 35rem;
  border: 1px solid var(--ink-middle);
}
.form-admin {
  width: 40rem;
  margin-bottom: 2rem;
}
.form__img-box {
  text-align: center;
}
.form__title {
  text-transform: uppercase;
  text-align: center;
  margin-top: 1.5rem;
}
.form__title--paciente {
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid var(--ink-dark);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.form__header {
  display: flex;
  margin-bottom: 1rem;
}
.form__title-section {
  font-size: var(--label);
  text-transform: uppercase;
}
.form__title-section::after {
  content: ">";
  margin: 0 5px;
}
.form__title-section:last-child::after {
  content: "";
  margin: 0;
}
.form__input-box {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}
.form__input-box--last {
  margin-bottom: 0;
}
.form__input-box--optional {
  display: none;
}
.form__input-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
.form__label {
  font-size: var(--body);
  margin: 0.5rem 0;
  font-weight: 700;
}
.form__input, .form__textarea {
  background-color: var(--ink-white);
  border: 1px solid var(--ink-dark);
  height: 3.5rem;
  padding: 0.5rem;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.6rem;
  transition: all 0.2s ease-in;
}
.form__input-button, .form__input-button:link, .form__input-button:visited, .form__textarea-button, .form__textarea-button:link, .form__textarea-button:visited {
  background-color: var(--primary-default);
  border: 1px solid var(--ink-middle);
  text-transform: uppercase;
  font-weight: 700;
  color: var(--ink-white);
  margin-top: 1rem;
}
.form__input-button:hover, .form__textarea-button:hover {
  background-color: var(--secondary-default);
  border: 1px solid var(--secondary-dark);
  cursor: pointer;
}
.form__input-button:active, .form__textarea-button:active {
  border: 1px solid var(--secondary-dark);
}
.form__input-button-first, .form__textarea-button-first {
  grid-column: 2;
}
.form__input:focus, .form__textarea:focus {
  outline: none;
  border: 1px solid var(--secondary-default);
}
.form__input-button--send, .form__input-button--send:link, .form__input-button--send:visited, .form__textarea-button--send, .form__textarea-button--send:link, .form__textarea-button--send:visited {
  background-color: var(--tertiary-default);
  border: 1px solid var(--tertiary-dark);
  text-transform: uppercase;
  font-weight: 700;
  color: var(--ink-white);
  margin-top: 1rem;
}
.form__input-button--send:hover, .form__textarea-button--send:hover {
  background-color: var(--secondary-default);
  border: 1px solid var(--secondary-dark);
  cursor: pointer;
}
.form__input-button--send:active, .form__textarea-button--send:active {
  border: 1px solid var(--secondary-dark);
}
.form__input-button--disabled, .form__input-button--disabled:link, .form__input-button--disabled:visited, .form__textarea-button--disabled, .form__textarea-button--disabled:link, .form__textarea-button--disabled:visited {
  background-color: var(--primary-lighter);
  border: 1px solid var(--ink-middle);
  text-transform: uppercase;
  font-weight: 700;
  color: var(--ink-dark);
  margin-top: 1rem;
}
.form__input-button--disabled:hover, .form__textarea-button--disabled:hover {
  background-color: var(--primary-lighter);
  border: 1px solid var(--ink-middle);
  cursor: not-allowed;
}
.form__input-button--disabled:active, .form__textarea-button--disabled:active {
  border: 1px solid var(--ink-middle);
}
.form__textarea {
  resize: none;
  height: 10rem;
}
.form__text {
  margin: 0.5rem 0;
}

.option {
  position: relative;
  display: inline-block;
}
.option__header-box {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.option__list {
  position: absolute;
  display: none;
  width: 100%;
}
.option__item {
  padding: 1.2rem 1rem;
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
}
.option__item:hover {
  background-color: #eeeeee;
}
.option:hover {
  background-color: #e9e9e9;
  cursor: pointer;
}
.option:hover .option__list {
  display: block;
}

.control__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: var(--ink-white);
  border: 1px solid var(--ink-middle-dark);
  margin-bottom: 1.5rem;
}
.control__option.active {
  background-color: var(--tertiary-lighter);
  border: 1px solid var(--tertiary-dark);
}
.control__option:hover {
  cursor: pointer;
  border: 1px solid var(--secondary-default);
  text-decoration: underline;
  color: var(--secondary-default);
}

.record-row {
  background-color: var(--ink-white);
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: auto 13rem;
  border: 1px solid var(--ink-middle-dark);
  align-items: center;
}
.record-row__title {
  margin-bottom: 1rem;
}
.record-row__title span {
  font-weight: normal;
}
.record-row__label {
  color: var(--secondary-default);
}
.record-row__label span {
  font-weight: bold;
}
.record-row .form__input-box {
  margin: 0;
}
.record-row .form__input-button {
  margin: 0;
}
.record-row a {
  margin: 0;
  display: grid;
  place-items: center;
}

.box-info {
  background-color: var(--ink-white);
  border: 1px solid var(--ink-middle-dark);
  padding: 2rem;
}
.box-info__title {
  border-bottom: 1px solid var(--ink-dark);
  padding-bottom: 1rem;
}
.box-info__label {
  font-weight: 700;
}
.box-info p {
  margin: 1rem 0;
}
.box-info p:last-child {
  margin-bottom: 0;
}
.box-info__section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1rem;
}
.box-info__data-content--wide {
  grid-column: 1/-1;
}
.box-info__data-content--wide__button {
  justify-self: end;
}
.box-info__data-content--wide .form__input-box {
  display: inline-flex;
  margin: 0;
}
.box-info__data-content--wide .form__input-box a {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0 2rem;
}

.header {
  background-color: var(--ink-white);
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  border-bottom: 1px solid var(--ink-middle-dark);
}
.header__title {
  padding: 1.5rem;
}

.title-page {
  text-align: center;
  margin: 2rem 0;
}

.create-admin,
.edit-admin {
  display: grid;
  justify-content: center;
}

.login {
  display: grid;
  min-height: 100vh;
  place-items: center;
}

.show-admin {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-column-gap: 6rem;
  width: 90%;
  max-width: 110rem;
  margin: 5rem auto 0 auto;
}

.show-pacient {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-column-gap: 6rem;
  width: 90%;
  max-width: 110rem;
  margin: 5rem auto 0 auto;
}

.pacient-data {
  display: grid;
  grid-row-gap: 1.5rem;
  margin-bottom: 3rem;
}

/*# sourceMappingURL=app.css.map */
